@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(255, 255, 255);
}
.first{
    position: relative;
    background-color: rgba(15, 20, 39, 1);
    height: 13em;
    width: 40em;
    position: fixed;
   scroll-behavior: auto;
    z-index: 1;
    /* transition: 5s;
    background-position:center; */
}

.first .barreinfo #un {
    position: relative;
    border-radius: 10em;
    width: 11em;
    height: 11em;
    left: 1em;
    top: 1em;

}
.first .barreinfo #deux{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top:4em ;
    left:27em ;
}
.first .barreinfo #trois{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top: 4em;
    left:33em ;
}
.seconde{
    position: relative;
    width: 40em;
    height: 73.53em;
    background-position: top;
  
    /* scroll-behavior: auto; */
    }
    .entête1{
      position: relative;
      width: 40em;
      height: 7em;
      background-color:rgba(217, 217, 217, 0.47);
      /* z-index: 2; */
    }
    #image{
        position: absolute;
        top:0.1em; 
        left:1em;
        width: 6em;
        height: 6em;

    }
    h2{
        position: absolute;
        top: 0.1em;
        left: 4em;
        font-family: 'Martel', serif;
        font-size: xx-large;
    }
    .entête2{
        position: relative;
        top: 90em;
      width: 40em;
      height: 7em;
      background-color:rgba(217, 217, 217, 0.47);
    }