*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    position: relative;
    width: 40em;
    height: 9em;
}
.first{
    position: relative;
    background-color: rgba(15, 20, 39, 1);
    height: 13em;
    width: 40em;
}
.first .barreinfo #un {
    position: relative;
    border-radius: 10em;
    width: 11em;
    height: 11em;
    left: 1em;
    top: 1em;
}
.first .barreinfo #deux{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top:4em ;
    left:27em ;
}
.first .barreinfo #trois{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top: 4em;
    left:33em ;
}
.seconde{
    position: relative;
    top: -13em;
    width: 40em;
    height: 86.55em;
    background-color: rgba(217, 217, 217, 0.69);
    }
    .seconde .pagecolorée {
        position: absolute;
        top: -13em;
        width: 26em;
        left: 14em;
        height: 99.5em;
        background-color: rgba(55, 61, 75, 1);
    }
    /* .seconde .pagecolorée a img{
        position: absolute;
        width: 5em;
        height: 5em;
        top: 15em;
       color: black;
        left: 1em;
    }
    .seconde .zwei {
        position: absolute;
        width: 5em;
        height: 5em;
        top: 15em;
        left: 1em;
    }
   
    select{
        position: relative;
    } */