
  @import url('https://fonts.googleapis.com/css2?family=Habibi&family=Halant:wght@300;400;500;600&family=Martel:wght@300;400;600&display=swap');
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
body{
    background-color: rgb(255, 255, 255);
}
.first{
    position: relative;
    background-color: rgba(15, 20, 39, 1);
    height: 13em;
    width: 40em;
}

.first .barreinfo #un {
    position: relative;
    border-radius: 10em;
    width: 11em;
    height: 11em;
    left: 1em;
    top: 1em;

}
.first .barreinfo #deux{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top:4em ;
    left:27em ;
}
.first .barreinfo #trois{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top: 4em;
    left:33em ;
}
.seconde{
    position: relative;
    width: 40em;
    height: 73.53em;
    }
    .seconde .entete{
        position: relative;
        width: 40em;
        height: 8em;
    }
    .fa-chevron-left {
        position: absolute;
        font-size: 100px;
        left: 0.7em;
        top: 0.66em;
        color: black;
    }
    .entete #premier_a{
        position: absolute;
        border-bottom: 0.05em solid rgba(0, 255, 209, 1);
        width: 2.4em;
        text-decoration: none;
        color: black; 
        font-size: xxx-large;
        top: 2.1em;
        left: 2.3em;
    }
h2{
    position: absolute;
    font-family: 'Martel', serif;
    letter-spacing: 0.09em;
    font-size: 3em;
    left: 2.3em;
    top: 0.6em;

    }
    .renseignements{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;       
    }
    .renseignements .form1{
        position: relative;
         /* left: -2rem; */ 
         width: 40em;
          /* height: 100%; */
          display: flex; 
          /* padding: 14px; */
           align-items: center; 
           justify-content: center;
            flex-direction: column; 
            /* padding: 50px; */
             /* background-color: aqua;    */
    }
    .renseignements .form1 p{
        position: relative;
        top: 0.9em;
        display: flex;
        align-items: center; 
        width: 15.2em; 
        font-size: 2.3em;
        height: 2.4em;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        background-color:   rgba(217, 217, 217, 0.29);
        font-family: 'Halant', serif;
        border-radius: 1.5em;
        text-indent: 1em;
        /* background-color: red; */
    }
    .renseignements input{
        position: relative;
        top: -1.4em;
        left: 3em;
        /* padding: 14px; */
        width: 8em;
        background-color: rgba(217, 217, 217, 0);
        border: none;
        border-radius: 0em 1.5em 1.5em 0em;
        font-size: 2.5em;
        height: 2.2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #troisieme_a {
    font-family: 'Martel', serif;
    position: absolute;
    bottom: 3em;
    left: 4.5em;
    /* margin: 0px; */
    background-color: rgba(217, 217, 217, 0.58);
    color: rgba(55, 61, 75, 1);
    font-size: 2em;
    /* width: 11em; */
    /* text-align: center; */
    padding: 0.5em;
    }
    /* .renseignements .form2 p{
        position: relative;
        top: 0.1em;
        left: 0.1em;
        display: flex;
        align-items: center;
        padding: 14px;
        width: 4.5em;       
        font-size: 2.5em;
        height: 1em;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    /* .renseignements .form3 p{
        position: relative;
        top: 0.1em;
        left: 0.1em;
        display: flex;
        align-items: center;
        padding: 14px;
        width: 6em;
        font-size: 2.5em;
        height: 1em;
        color: rgba(0, 0, 0, 1); 
        display: flex;
        align-items: center;
        justify-content: center;      
    }
    .renseignements .form4 p{
        position: relative;
        top: 0.1em;
        left: 0.1em;
        display: flex;
        align-items: center;
        padding: 14px;
        width: 4.5em;
        font-size: 2.5em;
        height: 1em;
        color: rgba(0, 0, 0, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        
    } */
 