@import url('https://fonts.googleapis.com/css2?family=Habibi&family=Halant:wght@300;400;500;600&family=Martel:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
}
.first {
    position: relative;
    background-color: rgba(15, 20, 39, 1);
    height: 13em;
    width: 40em;
}
.first .barreinfo #un {
    position: relative;
    border-radius: 10em;
    width: 11em;
    height: 11em;
    left: 1em;
    top: 1em;
}
.first .barreinfo #trois {
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top: 4em;
    left: 33em;
}
.seconde {
    position: relative;
    width: 40em;
    height: 73.53em;
}
.seconde .entete {
    position: relative;
    width: 40em;
    height: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-chevron-left {
    position: absolute;
    font-size: 100px;
    left: 0.5em;
    top: 0.6em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.entete {
    display: flex;
    align-items: center;
    justify-content: center;
}
.entete #premier_a {
    position: absolute;
    border-bottom: 0.05em solid rgba(0, 255, 209, 1);
    width: 2em;
    text-decoration: none;
    color: black;
    font-size: xxx-large;
    top: 2em;
    left: 1.7em;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
h2 {
    position: absolute;
    font-family: 'Martel', serif;
    font-size: 3em;
    left: 1.7em;
}
img {
 		position: absolute;
 		    background-color: rgba(47, 52, 67, 0.84);
		    width: 9.8em;
		    height: 10em;
		    left: 9em; 		    top: 14em;
}
.or {
    position: relative;
}
.or a{
    position: absolute;
    border-bottom: 0.1em solid black;
    width: 35em;
    top: 18em;
    left: 2.5em;
}
#nom {
	font-family: 'Martel';
	position: absolute;
	font-size: 2.4em;
	left: 8em;
	top: 3em;
}
#email {	    
    position: absolute;
    font-size: 1.5em;
    font-family: 'Martel', serif;
    left: 15em;
    top: 7em;

}
input{
    position: absolute;
    left: 9em;
    top: 13em;
    width: 10em;
    height: 1.8em;
    display: flex;
    font-size: 2em;
    align-content: center;
    justify-content: center;
    background-color: rgba(217, 217, 217, 0.16);
    border: none;
    text-indent: 0.2em;
}
.mdp{
    position: absolute;
    left: 2em;
    top: 13em;
    font-family: 'Halant', serif;
    width: 7em;
    height: 1.8em;
    font-size: 2em;
    color: rgba(47, 52, 67, 1);
    text-indent: 0.7em;
}