@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400&family=Habibi&family=Halant:wght@300;400;500;600&family=Martel:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-decoration: none;  
}
body{
    position: relative;
    width: 40em;
    height: 9em;
}
.first{
    position: relative;
    background-color: rgba(15, 20, 39, 1);
    height: 13em;
    width: 40em;
}
.first .barreinfo #un {
    position: relative;
    border-radius: 10em;
    width: 11em;
    height: 11em;
    left: 1em;
    top: 1em;
}
.first .barreinfo #deux{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top:4em ;
    left:27em ;
}
.first .barreinfo #trois{
    position: absolute;
    width: 5em;
    height: 5em;
    background-color: rgba(47, 52, 67, 1);
    top: 4em;
    left:33em ;
}
.seconde{
    position: relative;
    top: -13em;
    width: 40em;
    height: 88.8em;
    background-color: rgba(217, 217, 217, 0.69);
    }
    .seconde .pagecoloree {
        position: absolute;
        top: -13em;
        width: 26em;
        left: 14em;
        height: 101.8em;
        background-color: rgba(55, 61, 75, 1);
    }
    .seconde .pagecoloree a #deux{
        position: absolute;
        width: 5em;
        height: 5em;
        top: 15em;
        left: 1em;
    } 
    .seconde .pagecoloree .zwei{
        position: relative;
        height: 5em;
        top: 7em;
        font-size: 4em;
        font-family: 'Aleo', serif;
        color: white;
    }
    .zwei #zweii{
        position: absolute;
        left: 1em;
        color: white;
    }
    .zwei #zweii #unn{
        position: absolute;
        border-bottom: 0.03em solid rgba(0, 255, 209, 0.31);
        width: 2.6em;

    }
    .zwei #zweiii p{
        position: absolute;
        width: 8em;   
        left: 2.8em; 
    }
    #deuxx{
        position: absolute;
        width: 19em;  
        color: black;
        font-size: 0.6em;
        font-family: 'Martel';top: 4em;
    }
    #troiss{
        position: absolute;
        width: 19em;  
        color: black;
        font-size: 0.6em;
        font-family: 'Martel';
        top: 8.5em;
       
    }
    #quatree{
        position: absolute;
        width: 19em;  
        color: black;
        font-size: 0.6em;
        font-family: 'Martel';
        top: 11.8em;
    }
    #docc{
        position: absolute;
        width: 19em;  
        color: black;
        font-size: 0.6em;
        font-family: 'Martel';
        top: 6.5em;
        left: 4em;
        text-indent: 3em;
    }

  